@page "/build-index"
@rendermode InteractiveServer

<PageTitle>Manage</PageTitle>

<MudStack>
    <h1>Management</h1>

    <MudCard>
        <MudCardContent>
            <EditForm Model="@model">
                <MudForm>
                    <MudTextField Label="Channel URL" @bind-Value="model.ChannelUrl" For="() => model.ChannelUrl" />

                    <MudTextField Label="Max video count" @bind-Value="model.MaxVideos" For="() => model.MaxVideos" />
                </MudForm>
            </EditForm>
        </MudCardContent>

        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="BuildIndexAsync">Build Index</MudButton>
        </MudCardActions>
    </MudCard>

</MudStack>



