@page "/"
@rendermode InteractiveServer

<MudStack>
    <h1>Management</h1>

    <MudCard>
        <MudCardContent>
            <EditForm Model="@model">
                <MudForm>
                    <MudTextField Label="Channel URL" @bind-Value="model.ChannelUrl" For="() => model.ChannelUrl" Disabled="showProgress" />

                    <MudTextField Label="Max video count" @bind-Value="model.MaxVideos" For="() => model.MaxVideos" Disabled="showProgress" />

                    <MudTextField Label="Min video duration (minutes)" @bind-Value="model.MinDuration" For="() => model.MinDuration" Disabled="showProgress" />
                </MudForm>
            </EditForm>
        </MudCardContent>

        <MudCardActions>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="BuildIndexAsync" Disabled="showProgress">Build Index</MudButton>
            @if (showProgress)
            {
                <div>
                    <MudProgressLinear Color="Color.Primary" Value="progress" Class="my-7">
                        <MudText Typo="Typo.subtitle1" Color="Color.Dark">
                            <strong>@progress%</strong>
                        </MudText>
                    </MudProgressLinear>
                </div>
            }
        </MudCardActions>
    </MudCard>

</MudStack>

