@page "/"
@rendermode InteractiveServer

<MudStack>
    <h1>Management</h1>

    <MudCard>
        <MudCardContent>
            <EditForm Model="@model">
                <MudForm>
                    @if(HttpContext is not null)
                    {
                        @("interactive")<MudTextField Label="Channel URL" @bind-Value="model.ChannelUrl" For="() => model.ChannelUrl" Disabled="showProgress" data-rendered-interactive />
                    }
                    else
                    {
                        <MudTextField Label="Channel URL" @bind-Value="model.ChannelUrl" For="() => model.ChannelUrl" Disabled="showProgress" />
                    }

                    <MudTextField Label="Max video count" @bind-Value="model.MaxVideos" For="() => model.MaxVideos" Disabled="showProgress" />

                    <MudTextField Label="Min video duration (minutes)" @bind-Value="model.MinDuration" For="() => model.MinDuration" Disabled="showProgress" />
                </MudForm>
            </EditForm>
        </MudCardContent>

        <MudCardActions>
            @if (showProgress)
            {
                <MudProgressLinear Color="Color.Primary" Value="progress" Class="my-7" data-testid="process">
                    <MudText Typo="Typo.body1">Building index...</MudText>
                </MudProgressLinear>
            }
            else
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="BuildIndexAsync" Disabled="(showProgress || string.IsNullOrEmpty(model.ChannelUrl))">Build Index</MudButton>
            }
        </MudCardActions>
    </MudCard>

</MudStack>

